h1 {
    color: aliceblue;
    text-align: right;
    animation-name: moveInLeft;
    animation-duration: 1s;
  }
  
  button {
    background-color: brown;
    background-color: #0099cc;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  body {
    background-color: black;
  }
  

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  